version: 2.1

# Defining parameters
parameters:
  docker-image:
    type: string
    default: "cimg/openjdk:8.0"
  branch-release:
    type: string
    default: "release"
  branch-master:
    type: string
    default: "master"
  branch-develop:
    type: string
    default: "develop"
  git-user:
    type: string
    default: "CircleCI"
  git-email:
    type: string
    default: "git@circleci.com"
# Additionally, following variables need to be defined:
# - SONATYPE_USERNAME
# - SONATYPE_PASSWORD
# - GPG_PASSPHRASE
# - GPG_PUBLIC_KEYS
# - GPG_SECRET_KEYS
# - GITHUB_TOKEN

jobs:
  # Update the current version of the project and commit
  update-version:
    docker:
      - image: << pipeline.parameters.docker-image >>
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Update version"
          command: |
            mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
            OLD_PROJECT_VERSION=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')
            mvn versions:set -DremoveSnapshot=true -DgenerateBackupPoms=false
            PROJECT_VERSION=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')
            sed -i "s,<version>$OLD_PROJECT_VERSION</version>,<version>$PROJECT_VERSION</version>,g" README.md
            find ./ -iname "README.md" -exec sed -i "s,<version>$OLD_PROJECT_VERSION</version>,<version>$PROJECT_VERSION</version>,g" "{}" ";"
            git config user.name "<< pipeline.parameters.git-user >>"
            git config user.email "<< pipeline.parameters.git-email >>"
            git add .
            git commit -m "[<< pipeline.parameters.git-user >>] Release version $PROJECT_VERSION [skip ci]"
      - persist_to_workspace:
          root: .
          paths:
            - .

  # Build and test the project
  build:
    docker:
      - image: << pipeline.parameters.docker-image >>
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Get dependencies"
          command: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}
      - run:
          name: "Clean package"
          command: mvn clean package
      - persist_to_workspace:
          root: .
          paths:
            - .

  # Deploy the artifact to Maven Central (staging)
  deploy:
    docker:
      - image: << pipeline.parameters.docker-image >>
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Deploy to Maven Central"
          command: |
            echo $GPG_SECRET_KEYS | base64 --decode | gpg --import --no-tty --batch --yes
            echo $GPG_PUBLIC_KEYS | base64 --decode | gpg --import --no-tty --batch --yes
            echo use-agent >> ~/.gnupg/gpg.conf
            echo pinentry-mode loopback >> ~/.gnupg/gpg.conf
            echo allow-loopback-pinentry >> ~/.gnupg/gpg-agent.conf
            echo RELOADAGENT | gpg-connect-agent
            mvn clean deploy --settings .maven.xml -DskipTests=true -B -U
      - persist_to_workspace:
          root: .
          paths:
            - .

  # Release the project: tag, push to Github and release to Maven Central
  release:
    docker:
      - image: << pipeline.parameters.docker-image >>
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Tag and publish"
          command: |
            mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
            PROJECT_VERSION=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')
            git config user.name "<< pipeline.parameters.git-user >>"
            git config user.email "<< pipeline.parameters.git-email >>"
            git tag -a "v$PROJECT_VERSION" -m "Release $PROJECT_VERSION"
            git push --follow-tags https://${GITHUB_TOKEN}@github.com/egoettelmann/spring-configuration-extensions.git HEAD:<< pipeline.parameters.branch-master >>
            mvn nexus-staging:release --settings .maven.xml
      - persist_to_workspace:
          root: .
          paths:
            - .

  # Prepare next development iteration with SNAPSHOT
  prepare-next:
    docker:
      - image: << pipeline.parameters.docker-image >>
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Push next snapshot"
          command: |
            mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
            OLD_PROJECT_VERSION=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')
            mvn versions:set -DnextSnapshot=true -DgenerateBackupPoms=false
            PROJECT_VERSION=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')
            sed -i "s,<version>$OLD_PROJECT_VERSION</version>,<version>$PROJECT_VERSION</version>,g" README.md
            mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
            git config user.name "<< pipeline.parameters.git-user >>"
            git config user.email "<< pipeline.parameters.git-email >>"
            git add .
            git commit -m "[<< pipeline.parameters.git-user >>] Prepare next version $PROJECT_VERSION [skip ci]"
            git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
            git fetch --all
            git merge origin/<< pipeline.parameters.branch-develop >>
            git push --follow-tags https://${GITHUB_TOKEN}@github.com/egoettelmann/spring-configuration-extensions.git HEAD:<< pipeline.parameters.branch-develop >>
            git push --delete https://${GITHUB_TOKEN}@github.com/egoettelmann/spring-configuration-extensions.git << pipeline.parameters.branch-release >>
      - persist_to_workspace:
          root: .
          paths:
            - .


workflows:
  # The main workflow:
  # - update-version and build
  # - additionally for 'release' branch: deploy, release and prepare-next
  build-and-deploy:
    jobs:
      - update-version:
          filters:
            branches:
              only: /.*/
      - build:
          requires:
            - update-version
          filters:
            branches:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: << pipeline.parameters.branch-release >>
      - release:
          requires:
            - deploy
          filters:
            branches:
              only: << pipeline.parameters.branch-release >>
      - prepare-next:
          requires:
            - release
          filters:
            branches:
              only: << pipeline.parameters.branch-release >>
